<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin.admin_dashboard' %}active{% endif %}" href="{{ url_for('admin.admin_dashboard') }}">
      <i class="fa-solid fa-chart-line me-2"></i>Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin.admin_manage' %}active{% endif %}" href="{{ url_for('admin.admin_manage') }}">
      <i class="fa-solid fa-users-gear me-2"></i>Quản lý User
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin.admin_approve_page' %}active{% endif %}" href="{{ url_for('admin.admin_approve_page') }}">
      <i class="fa-solid fa-user-check me-2"></i>Duyệt User
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin.admin_devices_page' %}active{% endif %}" href="{{ url_for('admin.admin_devices_page') }}">
      <i class="fa-solid fa-microchip me-2"></i>Thiết bị
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin.admin_assignments_page' %}active{% endif %}" href="{{ url_for('admin.admin_assignments_page') }}">
      <i class="fa-solid fa-user-tag me-2"></i>Phân quyền
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'admin.admin_missions_page' %}active{% endif %}" href="{{ url_for('admin.admin_missions_page') }}">
      <i class="fa-solid fa-bullseye me-2"></i>Giao Mission
    </a>
  </li>
</ul>

